@model CourseViewModel

@{
    ViewData["Title"] = "Courses List";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image URL</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Courses.Count(); i++)
        {
            var course = Model.Courses.ElementAt(i);
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@course.Name</td>
                <td>@(!string.IsNullOrWhiteSpace(course.Description) ? course.Description : "-")</td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(course.ImageUrl))
                    {
                        var imageUrlSegments = course.ImageUrl.Split('/').ToList();
                        <a href="@course.ImageUrl" target="_blank">@imageUrlSegments.Last()</a>
                    }
                    else
                    {
                        @: -
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
